{% extends 'app_recipe/base.html' %}
{% load static %}
{% block content %}

<div class="background4">
    <div class="reviews">
        <div class="container">

            <div id="testimonials">

                <h2>What Our Visitors Say</h2>
                <div class="testimonial">
                    <img src="{% static 'app_recipe/images/user.png' %}" alt="Aashish">
                    <p>Recipe has emerged as one of the famous refreshment destination, mainly because of the
                        proximity to the knowledge as well as it has all types of recipe.</p>
                </div>
                <div class="testimonial">
                    <img src="{% static 'app_recipe/images/user.png' %}" alt="Milan">
                    <p>Awesome place to hangout withs friends and dear ones. Awesome place for cooking, explore new
                        things. It has also different spot for cooking and Cooking IT which is some minute for
                        cooking boating. </p>
                </div>
                <div class="testimonial">
                    <img src="{% static 'app_recipe/images/user.png' %}" alt="Shreedhar">
                    <p>Awesome place to hangout withs friends and dear ones. Awesome place for cooking, explore new
                        things. It has also different spot for cooking and Cooking IT which is some minute for
                        cooking boating.</p>
                </div>
                <div class="testimonial">
                    <img src="{% static 'app_recipe/images/user.png' %}" alt="Jeevan">
                    <p>Awesome place to hangout withs friends and dear ones. Awesome place for cooking, explore new
                        things. It has also different spot for cooking and Cooking IT which is some minute for
                        cooking boating.</p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}